/* CSS specific to app.component template */
.container {
    overflow: auto;
}

.spacer {
    /* This fills the remaining space, by using flexbox. 
    Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.sidemenu {
    width: 200px;
    padding-top: 10px;
}

.brand {
    font-size: 150%;
    font-weight: 500;
}
